body {
    margin: 0 auto;
    color: white;
    background-color: rgb(0,10,20);
    font-family: arial;
}

body, input {
    text-align: center;
}

img {
    max-width: 300px;
}

div {
    margin: 6px 10px;
    font-size: 24px;
    display: block;
}

#results{
    display: inline-block;
    text-align: left;
}

input{
    width: 85%;
    height: 60px;
    background-color: black;
    color:lime;
    font-size: 24px;
    font-family: courier new;
    outline: none;
    border: 4px inset lime;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#none {
    font-size: 72px;
    color: red;
    font-family: impact;
}

@media all and (min-width: 768px) {
    div {
        font-size: 32px;
    }
    
    input {
        width: 60%;
    }

    #none {
        font-size: 128px;
    }
}